<div id="shopify-block-12608439564960700138" class="shopify-block shopify-app-block">
    <div id="sezzle-widget-embed-block-error"></div>
    <style>
        .sezzle-shopify-info-button .sezzle-button-text {        
            font-size: 13.5px !important;                    
        }
    </style>
    <script type="lazyload_int" data-src="https://cdn.shopify.com/extensions/f1b61407-2188-44dd-9f48-0b37b3a74917/sezzle-widget-4/assets/widget-renderer.min.js"></script>
    <script type="lazyload_int">
        // show this error note only inside design preview
        document.addEventListener('DOMContentLoaded', () => {
            new WidgetRenderer({
                merchantUUID : "67b0c719-884d-4835-9f69-63a828e3b37f",
                blockType : "embed"
            }).init();
        });      
    </script>
</div>
<div id="shopify-block-16017602894386113438" class="shopify-block shopify-app-block">
    <!-- BEGIN app snippet: junip-store-key -->
    <span
        class="junip-store-key"
        data-supports-theme-extensions="true"
        data-shopify-preview-mode="true"
        data-store-key="2r9RbX8wrxx8G8QzLLEnYdkG"
        data-onsite-enabled="true"
        data-review-count-enabled="false"
        data-star-color="#121212"
        data-star-template-url="https://api.juniphq.com/images/star_options/1/template">
    </span>
    <!-- END app snippet -->
</div>