{% comment %} Identical to snippets/cart-icon-bubble.liquid {% endcomment %}
<span class="cart-title">CART</span>
<span class="cart-icon">
  <svg
    style="width: 32px; height: 32px;"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 600 600"
    style="enable-background:new 0 0 600 600"
    xml:space="preserve"
  >
    <style type="text/css">
      .st0 {
        fill:none;
        stroke:#000;
        stroke-width:15;
        stroke-miterlimit:10
      }
    </style>
    <g>
      <path class="st0" d="M162.2,506.7l0-309.8c0,0,275.3,0,275.3,0v309.8C437.6,506.7,162.2,506.7,162.2,506.7z M299.9,85.1    M299.9,108.1c35.2,0,63.1,27.9,63.1,63.1V197H236.8l0-25.8C236.8,136,264.8,108.1,299.9,108.1L299.9,108.1z"/>
    </g>
  </svg>
  <div class="cart-count-display{% if cart == empty %} hidden{% endif %}">
    {%- if cart.item_count > 0 and cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
</span>
