.wide-brand-callout {
  border: 1px solid rgba(var(--color-base-accent-1));
  padding: 16px;
}

.wide-brand-callout__blocks {
  display: flex;
  flex-direction: column;
}

.wide-brand-callout__logo-and-heading {
  display: flex;
  align-items: center;
  height: 100%;
}

.wide-brand-callout__logo-and-heading h2 {
  margin: 0;
  padding-left: 20px;
  max-width: 60%;
}

.wide-brand-callout__heading-and-text h2 {
  margin: 27px 0px 12px;
}

.text-and-heading__single h2 {
  margin-top: 0;
}

.wide-brand-callout__logo {
  width: 5%;
  height: 5%;
  min-width: 45px;
  min-height: 45px;
}

.wide-brand-callout__blocks h2 {
  font-size: 22px;
  line-height: 24px;
}

.wide-brand-callout__blocks p {
  font-size: 14px;
}

@media screen and (min-width: 750px) {
  .wide-brand-callout__blocks {
    flex-direction: row;
    justify-content: space-between;
  }

  .wide-brand-callout {
    padding: 30px;
  }

  .wide-brand-callout__heading-and-text {
    width: 50%;
  }

  .text-and-heading__single {
    width: 100%;
  }

  .wide-brand-callout__heading-and-text h2 {
    margin: 0px 0px 18px;
  }

  .wide-brand-callout__blocks h2 {
    font-size: 40px;
    line-height: 42px;
  }

  .wide-brand-callout__blocks p {
    font-size: 16px;
  }

  .wide-brand-callout__logo {
    width: 5%;
    height: 5%;
    min-width: 77px;
    min-height: 77px;
  }
  .wide-brand-callout__logo-and-heading h2 {
    padding-left: 40px;
  }
}

@media screen and (min-width: 950px) {
  .wide-brand-callout__heading-and-text {
    padding-right: 5%;
  }
  .text-and-heading__single {
    padding-right: 0;
  }
}
