#stamped-main-widget {
  margin: 0 !important;
  background-color: rgba(var(--color-base-accent-1));
  padding: 0 10px;
}
.stamped-reviews-filter,
.stamped-summary-ratings {
  display: none !important;
}

.stamped-summary-text-1,
.stamped-summary-actions-newreview,
.stamped-tab-container,
.stamped-location-flag,
.stamped-verified-badge {
  display: none;
}

.stamped-header-title,
.stamped-header,
.stamped-content {
  color: white;
}
.stamped-fa-star {
  color: white !important;
}
.stamped-pagination li a {
  color: white;
}
.stamped-review {
  border: 1px solid white !important;
  padding: 15px;
}

/* end stampd */

/* Foursixty */

.community-section-wrapper {
  background-color: rgba(var(--color-base-accent-1));
  padding: 0;
}

.foursixty-section {
  background-color: rgba(var(--color-base-accent-1));
  padding: 0px 0px 15px;
  margin-right: 10px;
}

.community-ticker {
  color: rgba(var(--color-base-background-1));
  padding: 25px 0 20px;
  background-color: rgba(var(--color-base-accent-1));
}

.foursixty-section-marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.foursixty-section-marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: foursixty-section-marquee 15s linear infinite;
}

.foursixty-section-marquee span {
  padding: 0 60px;
  white-space: nowrap;
}

@keyframes foursixty-section-marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.desktop_foursixty_gallery {
  display: none;
}

.fs-showcase_v2_5.fs-mobile .fs-entry-container {
  width: calc(50% - 10px) !important;
  padding-top: calc(50% - 10px) !important;
}

.fs-showcase_v2_5.fs-desktop .fs-entry-container {
  width: calc(25% - 10px) !important;
  padding-top: calc(25% - 10px) !important;
}

.fs-showcase_v2_5.fs-mobile .fs-entry-container,
.fs-showcase_v2_5.fs-desktop .fs-entry-container {
  border: 1px solid rgba(var(--color-base-background-1));
  margin-left: 10px;
  margin-bottom: 6px;
}

/* .fs-slider_v2_5-feed {
  margin-left: 10px;
} */

.fs-slider_v2_5.fs-desktop .fs-entry-container {
  width: calc(25% - 10px) !important;
  padding-top: calc(25% - 10px) !important;
  margin-left: 10px;
}

.foursixty__view-all {
  margin: 0 !important;
  padding-top: 10px;
}

.foursixty__view-all a {
  color: rgba(var(--color-base-background-1)) !important;
}

/* .desktop_foursixty_gallery-pdp-slider .fs-slider_v2_5-feed {
  padding-left: 5px;
} */

.desktop_foursixty_gallery-pdp-slider .fs-slider_v2_5-feed .fs-entry-container {
  border: 1px solid rgba(var(--color-base-background-1));
}

@media screen and (min-width: 770px) {
  .mobile_foursixty_gallery {
    display: none;
  }
  .desktop_foursixty_gallery {
    display: block;
  }
}

@media screen and (min-width: 1600px) {
  .community-section-wrapper {
    background-color: transparent;
    /* padding: 0 10px; */
  }
}

.foursixty-page-container {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 426px) {
  p.foursixty-tooltip {
    text-align: center;
    margin-top: -12px;
  }
}
@media screen and (min-width: 427px) {
  p.foursixty-tooltip {
    text-align: center;
    margin-top: -24px;
  }
}
.instagram-section {
  border-top: 1px solid #d1d1d1;
  margin-bottom: 50px;
}
.fs-slider-next-button,
.fs-slider-prev-button {
  opacity: 1 !important;
  background: transparent;
}
.fs-slider-next-button svg path,
.fs-slider-prev-button svg path {
  stroke: #fff !important;
}
@media screen and (min-width: 641px) {
  .instagram-section .u-h1 {
    margin-top: 75px;
  }
  .instagram-section .SectionHeader {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 640px) {
  .instagram-section .u-h1 {
    margin-top: 50px;
  }
  .fs-slider-next-button,
  .fs-slider-prev-button {
    display: block !important;
    top: calc(50% - 17px);
  }
  .fs-slider-prev-button {
    left: 10px !important;
  }
  .fs-slider-next-button {
    right: -20px !important;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .fs-slider-next-button,
  .fs-slider-prev-button {
    display: block !important;
    top: calc(50% - 17px);
  }
  .fs-slider-prev-button {
    left: 10px !important;
  }
  .fs-slider-next-button {
    right: -20px !important;
  }
}
p.foursixty_header {
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}
.foursixty_productpage {
  margin-bottom: 10px;
}

.foursixty_productpage .fs-wrapper div.fs-timeline-entry {
  margin: 0 !important;
}
.foursixty_productpage .fs-entry-container {
  margin-left: 10px;
  width: calc(20% - 7.5px) !important;
  padding-top: calc(20% - 7.5px) !important;
}

.foursixty_productpage .fs-entry-container:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 768px) {
  .foursixty_productpage .fs-mobile div.fs-entry-container,
  .fs-desktop div.fs-entry-container {
    height: 0;
    width: calc(100% / 3 - 5px) !important;
    padding-top: calc(100% / 3 - 5px) !important;
  }
}
.fs-timeline-detail {
  background-color: rgba(255, 255, 255, 1);
}
#fs-detail-branding {
  opacity: 0 !important;
}
.fs-detail-shares {
  display: none !important;
}
.fs-add-to-cart-enabled .fs-view a,
.fs-add-to-cart-enabled .fs-view a:link {
  letter-spacing: 0.1em;
  font-size: 11px;
}
.fs-shopify-options a {
  letter-spacing: 0.1em;
  font-size: 11px !important;
  font-weight: normal !important;
}
.fs-slider-next-button,
.fs-slider-prev-button {
  z-index: 1 !important;
}
.fs-detail-product-container {
  text-align: center;
  padding: 0 0 0 15px;
}

/* Foursixty Add to Cart */

.fs-add-to-cart-enabled .fs-buy-button {
  display: block;
  cursor: pointer;
  transition: all 0.5s;
  padding: 14px 28px;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.25s;
  white-space: nowrap;
  background: #222;
  color: #fff;
  border: 0;
}
.fs-add-to-cart-enabled .fs-option-label {
  display: inline-block;
  padding: 14px 28px;
  letter-spacing: 0.2em;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  cursor: hand;
  margin: 0;
}
.fs-buy-product-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.fs-product-inner-price {
  display: block;
  color: #6a6a6a;
  font-size: 15px;
  letter-spacing: 0.1em;
}
.fs-option-name {
  text-transform: uppercase;
  color: #6a6a6a;
  font-size: 12px !important;
  letter-spacing: 0.1em;
  margin-bottom: 3px;
}
.fs-add-to-cart-enabled .fs-buy-now-branding {
  display: none;
}
.fs-shopify-add-cart.fs-shopify-add-cart-container {
  letter-spacing: 0.2em;
  font-size: 10px;
  font-weight: normal;
  color: #fff;
  padding: 12px 10px;
}
.fs-shopify-add-cart {
  min-width: 125px;
}

.fs-product-name,
.fs-product-price {
  font-size: 12px;
  text-transform: capitalize;
}

.fs-post-info {
  font-size: 10px !important;
}

.fs-product-column {
  margin-bottom: 20px;
}
.fs-detail-right {
  display: flex !important;
  flex-direction: column !important;
}
